.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: var(--spacing-lg) 0;
}
.ul {
  display: flex;
  gap: 8px;
}

@media screen and (max-width: 320px) {
  .ul {
    flex-wrap: wrap;
    font-size: 85%;
  }
}
