.stickyContainer {
  position: sticky;
  top: 0;
  display: flex;
  grid-column: var(--grid-column);
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: var(--spacing-lg);
  z-index: 100;
}

.stickyTopContainer {
  display: flex;
  align-items: flex-end;
  gap: var(--spacing-xs);
  width: 100%;
  max-width: var(--max-width-page);
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  padding-left: var(--spacing-lg);
  padding-right: var(--spacing-lg);
  background-color: var(--background-color-header);
}
/* Icon container for the button that opens the dropdown menu */
.iconMenuContainer {
  display: none;
}

/* The button icon that opens the dropdown menu */
.iconMenu {
  font-size: 1.8rem;
}

.menuContainer {
  position: fixed;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  transition: all var(--transition-duration-long)
    var(--transition-timing-function);
  z-index: 910;
}

/* Adds a horizontal separation line */
.separationLine {
  position: relative;
}

.separationLine::after {
  position: absolute;
  content: "";
  display: block; /* Hide the separator line if it is not the last element */
  bottom: 0;
  width: 100%;
  height: 0.0625em;
  background-color: var(--text-secondary-light);
  opacity: 0.6;
}

.separationLine:last-child::after {
  display: none;
}

.menuUl {
  position: relative;
  display: flex;
  flex-direction: column;
}

.menuLi {
  text-decoration: none;
}

.menuLink {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 1.1em 1.3em;
  font-size: 1rem;
  line-height: 1.5rem; /* Equal to the height of the icons */
  text-decoration: none;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  transition: background-color var(--transition-duration-short)
    var(--transition-timing-function);
}

.menuOptionIcon {
  margin-right: 1em;
  font-size: 1.25rem;
  width: 1.5rem; /* Fixed width for icons */
  height: 1.5rem; /* Fixed height for icons */
  vertical-align: middle; /* Vertically align icons */
}

.accordionContainer {
  background-color: inherit;
}

.accordionItemTitle {
  padding: 1.1em 0 1.1em 1.3em;
  font-size: 1rem;
  background-color: inherit;
  color: inherit;
}

.accordionItemIcon {
  margin-left: 0.6em;
  font-size: 1rem;
}

.accordionItemContentContainer {
  background-color: inherit;
  cursor: pointer;
}

.accordionItemListLink {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 1.1em 1.3em 1.1em 2.3em; /* Adds an indentation to the unfolded content of the accordion */
  font-size: 1rem;
  text-decoration: none;
  background-color: inherit;
  cursor: pointer;
}

.accordionItemList {
  background-color: inherit;
}

.themeButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 1.1em 1.3em;
  font-size: 1rem;
  border: none;
  line-height: 1.5rem; /* Equal to the height of the icons */
  text-decoration: none;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
}

.themeButton:hover {
  border: none;
}

.stickyLogoContainer {
  display: flex;
  align-items: center;
  min-width: 10.1em;
}

.stickyLogoImg {
  width: 2.5em;
  height: 2.5em;
  margin-right: 0.1875em;
  margin-bottom: 0.3em;
}

.stickyLogoText {
  margin-top: 0.9375em;
  margin-bottom: 0.1875em;
  font-size: 1.5rem;
  color: var(--text-primary-light);
}

.stickyButtonAddress {
  max-width: 12.5em;
  min-width: 12em;
  margin-right: 0.5078em;
  height: 3.125em;
  border: solid 0.0625em transparent;
}

.stickyAddressIcon,
.stickyWishListIcon {
  min-width: 1.1em;
  align-self: center;
  margin-right: var(--spacing-xs);
  font-size: 1.25em;
}

.stickyAddressTextContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0.3125em;
  padding-right: 0.3125em;
}

.stickyAddressTextTop {
  padding-right: 0.625em;
  text-align: start;
  font-size: var(--text-sm);
  color: var(--text-secondary-light);
}

.stickyAddressTextBottom {
  padding-right: 0.625em;
  text-align: start;
}

/* Button containing the search bar icon */
.stickySearchBarButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.0625rem;
  min-width: 2.0625rem;
  height: 2.0625rem;
  border-radius: 50%;
  cursor: pointer;
}

.stickySearchBarButton:hover {
  border-color: transparent;
}

.stickySearchBarButton:active {
  background-color: rgba(254, 189, 105, 0.2);
}

.stickySearchBarIcon {
  font-size: 1.1rem;
  color: #febd69;
}

.stickyButtonWishList {
  min-width: 7.3em;
}

.stickyBottomContainer {
  display: flex;
  justify-content: center;
  gap: 0.625em;
  width: 100%;
  padding-top: 0.1875em;
  padding-bottom: 0.1875em;
  padding-left: var(--spacing-lg);
  padding-right: var(--spacing-lg);
  background-color: var(--background-color-header);
}

.stickyList {
  display: flex;
  gap: var(--spacing-lg);
}

@media screen and (max-width: 1024px) {
  .stickyLogoContainer {
    min-width: 2em;
  }

  .stickyLogoImg {
    width: 2em;
    height: 2em;
    margin-right: 0;
  }

  .stickyLogoText {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .stickyButtonAddress,
  .stickyButtonWishList,
  .stickyShoppingCartContainer,
  .stickyBottomContainer,
  .stickyLogoContainer {
    display: none;
  }

  .stickyContainer {
    align-items: center;
    max-height: 5em;
  }

  .stickyTopContainer {
    align-items: center;
    height: 100%;
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
  }

  .iconMenuContainer {
    display: block;
    margin-top: 0.0625em;
    padding-left: 0.4761em;
    padding-right: 0.4761em;
  }
}
