.stickyContainer {
  position: sticky;
  top: 0;
  display: flex;
  grid-column: var(--grid-column);
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: var(--margin-bottom);
  background-color: var(--header-background-color);
  z-index: 100;
}

.stickyTopContainer {
  display: flex;
  align-items: flex-end;
  width: 100%;
  max-width: var(--max-width-content);
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  padding-left: var(--horizontal-padding-lg);
  padding-right: var(--horizontal-padding-lg);
  background-color: var(--header-background-color);
}

.iconMenuContainer {
  margin-right: 0.3em;
}

.iconMenu {
  margin-right: 1em;
  font-size: 1.3rem;
}

.menuUl {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin-bottom: 0.8em;
}

.menuLi {
  text-decoration: none;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
}

.menuUl::after {
  position: absolute;
  content: "";
  display: block; /* Hide the separator line if it is not the last element */
  bottom: -10%;
  width: 100%;
  height: 0.0625em;
  background-color: var(--secondary-color);
  opacity: 0.5;
}

.menuUl:last-child::after {
  display: none; /* Hide the line after the last list section */
}

.menuLink {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 1em 1.3em;
  font-size: 1.125rem;
  color: var(--card-text-color);
  cursor: pointer;
}

.menuLink:hover {
  display: flex;
  background-color: var(--secondary-color);
}

.menuOptionIcon {
  margin-right: 0.6em;
  font-size: 1.6rem;
}

.stickyLogoContainer {
  display: flex;
  align-items: center;
  min-width: 10.1em;
}

.stickyLogoImg {
  width: 2.5em;
  height: 2.5em;
  margin-right: 0.1875em;
}

.stickyLogoText {
  margin-top: 0.9375em;
  margin-bottom: 0.1875em;
  font-size: 1.5rem;
  color: var(--principal-color);
}

.stickyButtonAddress {
  max-width: 12.5em;
  min-width: 12em;
  margin-right: 0.5078em;
  height: 3.125em;
  border: solid 0.0625em transparent;
  transition: border 0.2s;
  -webkit-transition: border 0.2s;
  -moz-transition: border 0.2s;
  -ms-transition: border 0.2s;
  -o-transition: border 0.2s;
}

.stickyAddressIcon,
.stickyWishListIcon {
  min-width: 1.1em;
  align-self: center;
  margin-right: 0.325em;
  font-size: 1.25em;
}

.stickyAddressTextContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0.3125em;
  padding-right: 0.3125em;
}

.stickyAddressTextTop {
  padding-right: 0.625em;
  text-align: start;
  font-size: var(--header-secondary-font-size);
  color: var(--secondary-color);
}

.stickyAddressTextBottom {
  padding-right: 0.625em;
  text-align: start;
}

.stickySearchBarIcon {
  font-size: 1.1rem;
  color: #febd69;
  cursor: pointer;
}

.stickyButtonWishList {
  min-width: 7.3em;
}

.stickyBottomContainer {
  display: flex;
  justify-content: center;
  gap: 0.625em;
  width: 100%;
  padding-top: 0.1875em;
  padding-bottom: 0.1875em;
  padding-left: var(--horizontal-padding-lg);
  padding-right: var(--horizontal-padding-lg);
  background-color: var(--header-background-color);
}

.stickyList {
  display: flex;
}

@media screen and (max-width: 1024px) {
  .stickyLogoContainer {
    min-width: 2em;
  }

  .stickyLogoImg {
    width: 2em;
    height: 2em;
    margin-bottom: 0.4375em;
    margin-right: 0;
  }

  .stickyLogoText {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .stickyButtonAddress,
  .stickyButtonWishList,
  .stickyShoppingCartContainer,
  .stickyBottomContainer {
    display: none;
  }

  .stickyContainer {
    align-items: center;
    max-height: 5em;
  }

  .stickyTopContainer {
    align-items: center;
    height: 100%;
    padding-left: var(--horizontal-padding-sm);
    padding-right: var(--horizontal-padding-sm);
  }

  .stickyLogoContainer {
    margin-top: 2px;
    margin-right: 0;
  }

  .stickyLogoImg {
    width: 1.6em;
    height: 1.6em;
  }
}
