.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 272px), 1fr));
  grid-auto-rows: minmax(27em, auto);
  gap: 1.25em;
  width: 100%;
  max-width: var(--max-width-content);
  padding: 0 2em 1.25em;
}
