.cardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 1.25em;
  background-color: var(--principal-color);
  color: var(--card-text-color);
  border-radius: var(--border-radius-principal);
  -webkit-border-radius: var(--border-radius-principal);
  -moz-border-radius: var(--border-radius-principal);
  -ms-border-radius: var(--border-radius-principal);
  -o-border-radius: var(--border-radius-principal);
}

.cardHeader {
  margin-bottom: 0.625em;
}

.cardTitle {
  margin: 0;
  font-size: var(--title-card-font-size);
  font-weight: 700;
  color: var(--card-text-color);
}

.cardOfferImgStyles {
  width: 100%;
  border-radius: var(--border-radius-principal);
  -webkit-border-radius: var(--border-radius-principal);
  -moz-border-radius: var(--border-radius-principal);
  -ms-border-radius: var(--border-radius-principal);
  -o-border-radius: var(--border-radius-principal);
  object-fit: cover;
}

.cardOfferImg {
  width: 100%;
  height: 15.375em;
  border-radius: var(--border-radius-principal);
  -webkit-border-radius: var(--border-radius-principal);
  -moz-border-radius: var(--border-radius-principal);
  -ms-border-radius: var(--border-radius-principal);
  -o-border-radius: var(--border-radius-principal);
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .cardsGrid {
    padding-top: 1.64em;
    padding-bottom: 1.64em;
  }
}

@media screen and (max-width: 480px) {
  .cardsGrid {
    gap: 0.33em;
    padding: 0.33em;
    grid-auto-rows: minmax(29.9em, auto);
  }
  .cardOfferImg {
    height: 18.375em;
  }
}
