.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  justify-content: center;
  min-height: 100vh;

  background-color: aqua;
}

.content {
  grid-column: var(--grid-column);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: red;
}
