/* On light theme */
.light {
  background-color: var(--background-tertiary-light-mode);
  color: var(--text-primary-dark);
}

/* On dark theme */
.dark {
  background-color: var(--background-tertiary-dark-mode);
  color: var(--text-primary-light);
}
