.container {
  position: relative;
}

.btn {
  background-color: transparent;
  cursor: pointer;
}

.btn:hover {
  border: none;
}

/* Layer unfolded over the content in which the menu is displayed */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 900;
}
