.container {
  position: relative;
}

.btn {
  background-color: transparent;
  cursor: pointer;
}

.btn:hover {
  border: none;
}

.iconBars {
  margin-right: 0.5078em;
  font-size: 1.8rem;
}
/* Layer unfolded over the content in which the menu is displayed */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 900;
}

.iconXMark {
  position: absolute;
  top: 0.3em;
  left: calc(80% + 0.3em);
  font-size: 2.5rem;
  color: var(--principal-color);
  cursor: pointer;
}

.nav {
  position: fixed;
  top: 0;
  left: -80%;
  width: 80%;
  height: 100%;
  background-color: blue;
  overflow-y: scroll;
  transition: left 0.3s ease;
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  -ms-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  z-index: 910;
}

.nav.active {
  left: 0;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
}
