.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 2.5rem;
  min-height: 2.5rem;
  font-size: var(--text-sm);
  border-width: 1px;
  border-style: solid;
  border-radius: var(--principal-border-radius);
}

/* On light mode */
.buttonsLightMode {
  background-color: var(--background-tertiary-light-mode);
  border-color: rgb(43, 43, 43, 0.3);
  color: var(--text-primary-dark);
}

.buttonsLightMode:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* On light mode */
.buttonsDarkMode {
  background-color: var(--background-tertiary-dark-mode);
  border-color: rgba(227, 230, 230, 0.3);
  color: var(--text-primary-light);
}

.buttonsDarkMode:hover {
  background-color: rgba(227, 227, 227, 0.2);
}

.pageNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 2.5rem;
  min-height: 2.5rem;
  font-size: var(--text-lg);
  border: 1px solid white;
  border-radius: var(--principal-border-radius);
  background-color: inherit;
}

/* On light mode */
.pageNumberLightMode {
  background-color: var(--background-tertiary-light-mode);
  border-color: rgb(43, 43, 43, 0.3);
  color: var(--text-primary-dark);
}

.pageNumberLightMode:hover {
  background-color: rgba(15, 17, 17, 0.2);
}

.pageNumberLightMode.active {
  background-color: #191919;
  color: var(--text-primary-light);
}

/* On dark mode */
.pageNumberDarkMode {
  background-color: var(--background-tertiary-dark-mode);
  border-color: rgba(227, 230, 230, 0.3);
  color: var(--text-primary-light);
}

.pageNumberDarkMode:hover {
  background-color: rgba(227, 227, 227, 0.2);
}

.pageNumberDarkMode.active {
  background-color: var(--background-tertiary-light-mode);
  color: var(--text-primary-dark);
}

/* * Ellipsis classes */
/* On light mode */
.ellipsisLight {
  background-color: var(--background-tertiary-light-mode);
  border-color: rgb(43, 43, 43, 0.3);
  color: var(--text-primary-dark);
}

/* On dark mode */
.ellipsisDark {
  background-color: var(--background-tertiary-dark-mode);
  border-color: rgba(227, 230, 230, 0.3);
  color: var(--text-primary-light);
}
