.header {
  width: 100%;
  max-width: var(--max-width-content);
  padding-top: 0.1875em;
  padding-bottom: 0.1875em;
  padding-left: var(--spacing-lg);
  padding-right: var(--spacing-lg);
  background-color: var(--background-color-header);
  color: var(--text-color-primary-light);
}
