.borderLink {
  display: flex;
  align-items: center;
  width: auto;
  margin-right: 1em;
  padding: 0.625em;
  border: solid 0.0625em transparent;
  border-radius: var(--border-radius-principal);
  -webkit-border-radius: var(--border-radius-principal);
  -moz-border-radius: var(--border-radius-principal);
  -ms-border-radius: var(--border-radius-principal);
  -o-border-radius: var(--border-radius-principal);
  font-size: var(--header-principal-font-size);
  font-weight: 400;
  background-color: inherit;
  color: var(--principal-color);
  cursor: pointer;
}

.borderLink:hover {
  border: solid 0.0625em rgba(204, 204, 204, 0.5);
}
