/* On light mode */
.light {
  background-color: inherit;
}

.light:hover {
  background-color: var(--text-secondary-light);
}

/* On dark mode */
.dark {
  background-color: inherit;
}

.dark:hover {
  background-color: var(--text-secondary-dark);
}
