@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* * Layout */
:root {
  --grid-column: 1 / -1; /* Set a full-width grid */
}

/* * Dimensions  */
:root {
  --max-width-page: 1328px; /* Set the maximum page width */
}

/* * Spacing */
:root {
  /* Main spacing for multiple items and containers */
  --spacing-xs: 0.25em;
  --spacing-sm: 0.5em;
  --spacing-md: 0.625em;
  --spacing-lg: 1.25em;
}

/* * Typography */
:root {
  --font-family: "Roboto", Arial, sans-serif;

  --title-lg: 1.5rem;
  --title-md: 1.3125rem;
  --title-sm: 1rem;

  --text-lg: 0.9375rem;
  --text-md: 0.875rem;
  --text-sm: 0.75rem;
}

/* * Border */
:root {
  --principal-border-radius: 0.375em;
}

/* * Colors */
:root {
  --primary-color: #cc0c39; /* Main accent color */
  --secondary-color: #b12704; /* Secondary accent color */
  --accent-color: #e67a00; /* Accent color to highlight specific elements */

  /* * Text Color */
  /* Color on light backgrounds */
  --text-primary-dark: #0f1111;
  --text-secondary-dark: #2f3232;
  /* Color on dark backgrounds */
  --text-primary-light: #ffffff;
  --text-secondary-light: #cccccc;

  /* Button colors */
  --button-background-color: #ffd814;
  --button-hover-background-color: #f7ca00;

  --button-hover-border-color: #f2c200;
  --button-border-color: #fcd200;

  /* * Light Mode Exclusive Variables */
  --link-light-mode: #007185;
  --link-hover-light-mode: #c7511f;

  --background-primary-light-mode: #e3e6e6; /* Mainly used in the body */
  --background-secondary-light-mode: #131921; /* Mainly used in the header */
  --background-tertiary-light-mode: #ffffff; /* Mainly used for background of main elements */
  --background-quaternary-light-mode: #232f3e; /* Mainly used in the footer */
  --background-quinary-light-mode: #131a22; /* Mainly used in terms */

  /* * Dark Mode Exclusive Variables */
  --link-dark-mode: #4ec6c4;
  --link-hover-dark-mode: #c7511f;

  --background-primary-dark-mode: #2b2b2b; /* Mainly used in the body */
  --background-secondary-dark-mode: #1d1d1d; /* Mainly used in the header */
  --background-tertiary-dark-mode: #3d3d3d; /* Mainly used for background of main elements */
  --background-quaternary-dark-mode: #1d1d1d; /* Mainly used in the footer */
  --background-quinary-dark-mode: #1d1d1d; /* Mainly used in terms */
}

/* * Transition */
:root {
  --transition-duration-short: 0.1s;
  --transition-duration-medium: 0.2s;
  --transition-duration-long: 0.3s;

  --transition-timing-function: ease;
}

body {
  font-family: var(--font-family);
}

@media screen and (max-width: 960px) {
  html {
    font-size: 93.75%;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
