@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* * Layout */
:root {
  --grid-column: 1 / -1; /* Set a full-width grid */
}

/* * Dimensions  */
:root {
  --max-width-page: 1328px; /* Set the maximum page width */
}

/* * Spacing */
:root {
  /* Main spacing for multiple items and containers */
  --spacing-xs: 0.25em;
  --spacing-sm: 0.5em;
  --spacing-md: 0.625em;
  --spacing-lg: 1.25em;
}

/* * Typography */
:root {
  --font-family: "Roboto", Arial, sans-serif;

  --title-lg: 1.5rem;
  --title-md: 1.3125rem;
  --title-sm: 1rem;

  --text-lg: 0.9375rem;
  --text-md: 0.875rem;
  --text-sm: 0.75rem;
}

/* * Border */
:root {
  --principal-border-radius: 0.375em;
}

/* * Colors */
:root {
  /* Color on light backgrounds */
  --text-color-primary-dark: #0f1111;
  --text-color-secondary-dark: #565959;

  /* Color on dark backgrounds */
  --text-color-primary-light: #ffffff;
  --text-color-secondary-light: #cccccc;

  /* Color on light backgrounds */
  --link-color-dark: #007185;
  --link-hover-color-dark: #c7511f;

  /* Color on dark backgrounds */
  --link-color-light: #039cb7; /* Color on dark backgrounds */

  --background-color-header: #131921; /* Header */

  /* On light mode */
  --background-color-primary-light: #e3e6e6;
  --background-color-secondary-light: #ffffff;

  /* Base to apply dark mode */
  --background-color-primary-dark: #0d1218;
  --background-color-secondary-dark: #232f3e;

  --button-background-color: #ffd814;
  --button-hover-background-color: #f7ca00;

  --button-hover-border-color: #f2c200;
  --button-border-color: #fcd200;

  --primary-color: #cc0c39; /* Main accent color */
  --secondary-color: #b12704; /* Secondary accent color */
  --accent-color: #e67a00; /* Accent color to highlight specific elements */
}

/* * Transition */
:root {
  --transition-duration-short: 0.1s;
  --transition-duration-medium: 0.2s;
  --transition-duration-long: 0.3s;

  --transition-timing-function: ease;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color-primary-light);
}

@media screen and (max-width: 960px) {
  html {
    font-size: 93.75%;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
