.cardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 1.25em;
  border-radius: var(--principal-border-radius);
  -webkit-border-radius: var(--principal-border-radius);
  -moz-border-radius: var(--principal-border-radius);
  -ms-border-radius: var(--principal-border-radius);
  -o-border-radius: var(--principal-border-radius);
}
