@import url("./cardWrapper.module.css");

.header {
  margin-bottom: var(--spacing-md);
}

.title {
  margin: 0;
  font-size: var(--title-md);
  font-weight: 700;
  color: inherit;
}

.imgLink {
  text-decoration: none;
}

.img {
  width: 100%;
  height: 15.375em;
  border-radius: var(--principal-border-radius);
  -webkit-border-radius: var(--principal-border-radius);
  -moz-border-radius: var(--principal-border-radius);
  -ms-border-radius: var(--principal-border-radius);
  -o-border-radius: var(--principal-border-radius);
  object-fit: cover;
}

.quantityContainer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.25em;
  align-items: center;
}

.quantity {
  min-width: 5.625em;
  max-width: 10em;
  margin-top: 0.125em;
  margin-right: 0.375em;
  padding: 0.25em 0.375em;
  font-size: var(--text-md);
  font-weight: 700;
  background-color: var(--primary-color);
  color: var(--text-primary-light);
  border-radius: 0.125em;
  -webkit-border-radius: 0.125em;
  -moz-border-radius: 0.125em;
  -ms-border-radius: 0.125em;
  -o-border-radius: 0.125em;
}

.offerDay {
  font-size: var(--text-md);
  font-weight: 700;
  color: inherit;
}

.extractContainer {
  max-height: 3em;
  overflow: hidden;
}

.extractText {
  font-size: var(--text-md);
  color: inherit;
}

@media screen and (max-width: 1024px) {
  .cardsGrid {
    padding-top: 1.64em;
    padding-bottom: 1.64em;
  }
}

@media screen and (max-width: 768px) {
  .quantity {
    font-size: 0.9rem;
  }
  .offerDay {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  .img {
    height: 18.375em;
  }
}
