.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 272px), 1fr));
  grid-auto-rows: minmax(27em, auto);
  gap: 1.25em;
  width: 100%;
  max-width: var(--max-width-page);
  margin-bottom: var(--spacing-lg);
  padding-left: var(--spacing-lg);
  padding-right: var(--spacing-lg);
}

@media screen and (max-width: 768px) {
  .grid {
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
  }
}
