@import url("./cardWrapper.module.css");

.cardThemeHeader {
  margin-bottom: 0.625em;
}

.cardThemeTitle {
  margin: 0;
  font-size: var(--title-md);
  font-weight: 700;
  color: var(--text-color-primary-dark);
}

.cardThemeImgLink {
  text-decoration: none;
}

.cardThemeFigure {
  margin: 0;
}

.cardThemeImg {
  width: 100%;
  height: 9.0875em;
  border-radius: var(--principal-border-radius);
  -webkit-border-radius: var(--principal-border-radius);
  -moz-border-radius: var(--principal-border-radius);
  -ms-border-radius: var(--principal-border-radius);
  -o-border-radius: var(--principal-border-radius);
  object-fit: cover;
}

.cardThemeImgFigcaption {
  margin-bottom: 0.9375em;
  font-size: var(--text-lg);
  color: var(--text-color-primary-dark);
}

/* related:
-Related content on a card
-Grid with three columns and one row for add three small images into a card  */
.related {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 5em;
  gap: 0.3125em;
  width: 100%;
  height: 5em;
}

.relatedLink {
  text-decoration: none;
}

.relatedFigure {
  margin: 0;
}

.relatedFigcaption {
  text-align: start;
  max-width: 5.25em;
  max-height: 3em;
  font-size: var(--text-md);
  color: var(--text-color-primary-dark);
  overflow: hidden;
}

.relatedImg {
  width: 100%;
  height: 4.6875em;
  border-radius: var(--principal-border-radius);
  -webkit-border-radius: var(--principal-border-radius);
  -moz-border-radius: var(--principal-border-radius);
  -ms-border-radius: var(--principal-border-radius);
  -o-border-radius: var(--principal-border-radius);
  object-fit: cover;
}
