.footerCard {
  margin-top: auto;
}

.footerCardSeeMoreLink {
  display: inline-block;
  width: 100%;
  font-size: var(--text-md);
  text-decoration: none;
}

/* On light mode */
.footerCardSeeMoreLinkLight {
  color: var(--link-light-mode);
}

.footerCardSeeMoreLinkLight:hover {
  color: var(--link-hover-light-mode);
  text-decoration-line: underline;
  text-decoration-color: currentcolor;
  -moz-text-decoration-color: currentcolor;
  -moz-text-decoration-line: underline;
}

/* On dark mode */
.footerCardSeeMoreLinkDark {
  color: var(--link-dark-mode);
}

.footerCardSeeMoreLinkDark:hover {
  color: var(--link-hover-dark-mode);
  text-decoration-line: underline;
  text-decoration-color: currentcolor;
  -moz-text-decoration-color: currentcolor;
  -moz-text-decoration-line: underline;
}

@media screen and (max-width: 768px) {
  .footerCardSeeMoreLink {
    font-size: 0.96rem;
    font-weight: 700;
  }
}

@media screen and (max-width: 480px) {
  .footerCardSeeMoreLink {
    font-size: 1.1rem;
    font-weight: 700;
  }
}
