.headerContainer {
  display: flex;
  grid-column: var(--grid-column);
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .headerContainer {
    display: none;
  }
}
