.stickySearchBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.125em;
  border: solid 0.125em #ff9900;
  border-radius: 0.4375em;
  -webkit-border-radius: 0.4375em;
  -moz-border-radius: 0.4375em;
  -ms-border-radius: 0.4375em;
  -o-border-radius: 0.4375em;
  background-color: transparent;
  padding: 0 0.75em;
}

/* the shadow is applied to the container with class “sticky__searchbar-container” when any element inside the container is in focus. */
.stickySearchBarContainer:focus-within {
  box-shadow: 0 0 0.5em #ff9900;
}

.stickySearchBarInput {
  width: 90%;
  height: 60%;
  font-size: 1.1rem;
  background-color: transparent;
  color: var(--text-primary-light);
  border: none;
  outline: none;
}

@media screen and (max-width: 768px) {
  .stickySearchBarContainer {
    padding: 0;
  }
  .stickySearchBarInput {
    width: 88%;
  }
}

@media screen and (max-width: 480px) {
  .stickySearchBarInput {
    width: 80%;
  }
}

@media screen and (max-width: 320px) {
  .stickySearchBarContainer {
    padding: 0 5px;
  }

  .stickySearchBarInput {
    width: 80%;
  }
}
