@font-face {
  font-family: "Amazon Ember";
  src: url("assets/font/AmazonEmber_Rg.ttf") format("truetype");
}

@font-face {
  font-family: "Amazon Ember Bold";
  src: url("assets/font/AmazonEmber_Bd.ttf") format("truetype");
}

/* TODO: Vars: */
:root {
  /* *Header vars */

  /* *Main */
  --main-background-color: #ffffff;
  --main-color: #ffffff;

  /* TODO: Cars vars */

  /*  *Shared variables on cards */
  /* Title text*/
  --title-card-font-size: 21px;

  /* text */
  --card-text-color: rgb(15, 17, 17);

  /* Extract text */
  --extract-font-size: 13px;

  /* See more links */
  --font-size-see-more-link: 13px;
  --link-color: #007185;

  /* *Offers cards */
  /* Offer tag */
  --offer-tag-text-font-size: 12px;
  --offer-tag-background-color: #cc0c39;
  --offer-tag-color: rgb(255, 255, 255);

  /* Offer day text */
  --offer-day-text-font-size: 12px;

  /* *Card theme */
  /* image caption text */
  --related__figcaption-font-size: 15px;
  --related__figcaption-font-weight: 700;

  /* *Footer vars */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Amazon Ember", Arial, sans-serif;
  background-color: #e3e6e6;
}

/* TODO: Global classes */
/* Avoid the overflow of the texts */
.single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr 2fr;
  min-height: 100vh;
  color: #ece9df;
}

.header,
.cards-container,
.footer {
  padding-left: 10px;
  padding-right: 10px;
}

/* *Header */
.header {
  display: flex;
  align-items: center;
  background-color: #131921;
  color: var(--main-color);
}

.logo {
  margin-right: 30px;
  font-size: 1.9rem;
  cursor: pointer;
}

.header__searchbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 50px;
  margin-right: 30px;
  background-color: transparent;
  border: solid 1px #ff9900;
  border-radius: 26px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
}

.header__searchbar-input {
  width: 80%;
  height: 60%;
  font-size: 1.1rem;
  background-color: transparent;
  color: var(--main-color);
  border: none;
  outline: none;
}

.header__searchbar-icon {
  font-size: 1.1rem;
  color: #febd69;
  cursor: pointer;
}

.header__menu {
  display: flex;
  width: 230px;
  margin-right: 30px;
  background-color: inherit;
}

.header__menu-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: inherit;
  list-style: none;
}

.header__menu-option,
.header__shopping-cart-container {
  padding: 10px;
  cursor: pointer;
  border: solid 1px transparent;
  transition: border 0.2s;
  -webkit-transition: border 0.2s;
  -moz-transition: border 0.2s;
  -ms-transition: border 0.2s;
  -o-transition: border 0.2s;
}

.header__menu-option:hover,
.header__shopping-cart-container:hover {
  border: solid 1px var(--main-color);
}

/* *Main */
.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding: 20px 10px;
}

/* TODO: blocks CSS */
/* related:
-Related content on a card
-Grid with three columns and one row for add three small images into a card  */
.related {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80px;
  gap: 5px;
  width: 100%;
  height: 80px;
}

.related__link {
  text-decoration: none;
}

.related__figure {
  margin: 0;
}

.related__figcaption {
  max-width: 92px;
  max-height: 40px;
  font-size: 15px;
  color: var(--card-text-color);
  overflow: hidden;
}

.related__img {
  width: 100%;
  height: 75px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  object-fit: cover;
}

/* Extract cards:
-show the extract text of card's contain*/
.extract-container {
  max-height: 40.5px;
  overflow: hidden;
}
.extract__text {
  font-size: var(--extract-font-size);
  color: var(--card-text-color);
}

/* Cards footer */
.footer-card {
  margin-top: auto;
}

.footer-card__see-more-link {
  display: inline-block;
  width: 100%;
  font-size: var(--font-size-see-more-link);
  color: var(--link-color);
  text-decoration: none;
}

.footer-card__see-more-link:hover {
  color: #bd4500;
  text-decoration-line: underline;
  text-decoration-color: currentcolor;
  -moz-text-decoration-color: currentcolor;
  -moz-text-decoration-line: underline;
}

/* TODO: CARS */
/* TODO: shared properties cards*/
.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 316px;
  height: 420px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: var(--main-background-color);
  color: #131921;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.card--offer__header,
.card-theme__header,
.card-product__header,
.card-sponsored__header,
.card-services__header {
  margin-bottom: 10px;
}

.card--offer__title,
.card-theme__title,
.card-product__title,
.card-sponsored__title,
.card-services__title {
  margin: 0;
  font-size: var(--title-card-font-size);
  color: var(--card-text-color);
}

.card--offer__img-link,
.card-theme__img-link,
.card-product__img-link,
.card-sponsored__img-link {
  text-decoration: none;
}

.card--offer__img,
.card-theme__img,
.card-product__img,
.card-sponsored__img {
  width: 100%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  object-fit: cover;
}

.card-theme__title-container,
.card-product__title-container,
.card-services__title-container {
  max-height: 49px;
  overflow: hidden;
}

.card-theme__figure,
.card-product__figure,
.card-sponsored__figure {
  margin: 0;
}

/* TODO: individual properties*/
/* TODO: card-offer */
.card--offer__offer-container {
  cursor: pointer;
}

.card--offer__img {
  height: 230px;
}

.card--offer__offer-quantity-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 4px;
  align-items: center;
}

.card--offer__offer-quantity {
  min-width: 90px;
  max-width: 100px;
  margin-right: 6px;
  padding: 4px 6px;
  font-size: var(--offer-tag-text-font-size);
  background-color: var(--offer-tag-background-color);
  color: var(--offer-tag-color);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.card--offer__offer-day {
  font-size: var(--offer-day-text-font-size);
  font-weight: 700;
  color: var(--card-text-color);
}

/* TODO: Card-theme */
.card-theme__img {
  height: 145.4px;
}

.card-theme__img-figcaption {
  margin-bottom: 15px;
  font-size: var(--related__figcaption-font-size);
  font-weight: var(--related__figcaption-font-weight);
  color: var(--card-text-color);
}

/* TODO: card product */
.card-product__img {
  height: 276.5px;
}

/* TODO: card sponsored */
.card-wrapper--sponsored {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 316px;
  height: 420px;
  background-color: transparent;
  color: #131921;
}

.card-sponsored__header {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 150px;
  margin-bottom: 20px;
  padding: 20px 20px 30px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  background-color: var(--main-background-color);
}

.card-sponsored__title-container {
  margin-bottom: 10px;
}

.card-sponsored__button {
  width: 100%;
  padding: 8px 20px;
  font-size: 13px;
  background-color: rgb(255, 216, 20);
  color: #0f1111;
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
}

.card-sponsored__ad {
  padding-left: 7px;
  padding-right: 7px;
}

.card-sponsored__img {
  height: 250px;
}

/* TODO: Card services */
.card-wrapper--services {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 316px;
  height: 420px;
  padding: 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  background-color: var(--main-background-color);
  color: #131921;
}

.card-services__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  height: 276px;
}

.ad__link {
  color: inherit;
  text-decoration: none;
}

/* Add the general values to the background image */
.ad__container-background {
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

/* Add background image*/
.background-image-ad-1 {
  background-image: url("../assets/img/cards/services/background-1.webp");
}
.background-image-ad-2 {
  background-image: url("../assets/img/cards/services/background-2.webp");
}
.background-image-ad-3 {
  background-image: url("../assets/img/cards/services/background-3.webp");
}
.background-image-ad-4 {
  background-image: url("../assets/img/cards/services/background-4.webp");
}

.ad__brand-logo-container {
  width: 40px;
  height: 40px;
}

.ad__brand-logo {
  width: 100%;
  height: 100%;
  background-color: var(--main-background-color);
  object-fit: fill;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.ad__overlay {
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 5px;
  font-size: 13px;
  color: var(--main-color);
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
}

/* Add the colors to each overlay layer */
.overlay-color--ad-1 {
  background-image: linear-gradient(to bottom, transparent, rgb(0, 0, 32) 47%);
}
.overlay-color--ad-2 {
  background-image: linear-gradient(to bottom, transparent, rgb(54, 0, 75) 47%);
}
.overlay-color--ad-3 {
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgb(26, 26, 167) 47%
  );
}
.overlay-color--ad-4 {
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgb(46, 12, 100) 47%
  );
}

.ad__contain {
  display: flex;
  gap: 3px;
  flex-direction: column;
  align-items: center;
  max-width: 128px;
  min-height: 55px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ad__text,
.ad__offer,
.ad__brand {
  max-width: 128px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  background-color: #232f3e;
}
