.wrapper {
  grid-column: var(--grid-column);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  margin-bottom: var(--spacing-lg);
  padding: 7em var(--spacing-lg) var(--spacing-lg);
}

.messageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--spacing-md) 3.75rem;
  gap: 0.9375rem;
}

.icon {
  font-size: 50px;
}

.messageContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
}

.titleContainer {
  margin-bottom: var(--spacing-md);
  font-size: var(--title-lg);
}

.TextContainer {
  font-size: var(--text-lg);
}

@media screen and (max-width: 768px) {
  .messageContainer {
    padding: var(--spacing-md) 1.75rem;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    flex-direction: column;
    gap: 30px;
  }

  .messageContainer {
    padding: var(--spacing-md) 1.25rem;
  }
}
